body {
  padding: 3em 2em;
}

body.git-main {
  background-color: #596869;
}

body.git-main > h1 {
  color: #b3b46a;
  font-size: 2.4em;
  margin-bottom: 1em;
}
body.git-main > p {
  font-size: 1.2em;
}
body.git-main > p > a {
  color: #d8d0c1;
  text-decoration: none;
}

@media all and (min-width: 720px) {
  body {
    padding: 3em 5em;
  }
  body.git-main > h1 {
    font-size: 3em;
  }
}
